:root {
  --header-height: 120px;
  --page-width: 1010px;
  --content-width: 500px;
  --leftSidePanel-flex: 1;
  --rightSidePanel-flex: 1;
  --margin: 12px;
}

body {
  background-color: whitesmoke;
  margin: 0; // Removes default margin
}

.header {
  background-color: black;
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
}

/* Container for all content divs besides header */
.page {
  display: inline-block;
  height: 100%;
  width: var(--page-width);
  margin-top: var(--header-height);
}

.landing-header {
  background-color: gray;
  height: 500px;
  width: 100%;
  margin-top: var(--margin);
}

/* Manages LeftSidePanel, Content & RightSidePanel */
.content-container {
  display: inline-flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  width: 100%;
}

.content {
  background-color: lightgray;
  height: 100vh;
  width: var(--content-width);
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.left-side-panel {
  flex: var(--leftSidePanel-flex);
}

.left-side-panel-content {
  background-color: lightgray;
  height: 400px;
  width: calc(
     (var(--page-width) - var(--content-width) - 2*var(--margin)) *var(
        --leftSidePanel-flex
      ) /(var(--leftSidePanel-flex) + var(--rightSidePanel-flex))
  );
  margin: 0;
  padding: 0;
  position: sticky;
  top: calc(var(--header-height) + var(--margin));
}

.right-side-panel {
  background-color: lightgray;
  height: 100vh;
  width: calc(
     (var(--page-width) - var(--content-width) - 2*var(--margin)) *var(
        --rightSidePanel-flex
      ) /(var(--leftSidePanel-flex) + var(--rightSidePanel-flex))
  );
}
